In [170]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
def olvas(file_name, fejlec = 'infer'):
    if (fejlec == 'infer'):
        df = pd.read_csv(file_name, sep=';' , encoding = "ISO-8859-1", header = fejlec)
    elif (file_name[0:5]=='Test1'): 
        df = pd.read_csv(file_name, sep=';' , encoding = "ISO-8859-1", header = fejlec, names = ['Sentence #','Word', 'POS'])
    else:
        df = pd.read_csv(file_name, sep=';' , encoding = "ISO-8859-1", header = fejlec, names = ['Sentence #','Word'])
    return df

In [3]:
def kezdobetu(df,k_betu_szama,v_betu_szama):
    s = pd.DataFrame(columns=('Word', 'POS', 'Tag'))
    j = 0
    for i in range(len(df)):
        if not(pd.isnull(df.iloc[i]["Word"])):
            if (k_betu_szama <= ord(df.iloc[i]["Word"][0])) & (ord(df.iloc[i]["Word"][0]) <= v_betu_szama) & ((df.iloc[i]["Tag"][0] == 'B') | (df.iloc[i]["Tag"][0] == 'I')):
                    s.loc[j] = [df.iloc[i]["Word"],df.iloc[i]["POS"],df.iloc[i]["Tag"][2:len(df.iloc[i]["Tag"])]]
                    j = j + 1
    return s

In [4]:
def resetindex(df):
    t3 = df.drop_duplicates()
    t4 = t3.reset_index(drop=True)
    return t4

In [5]:
def writecsv(df, file_neve = 'solution'):
    time = str(dt.datetime.now())

    file_end = time[0:4]+"_"+time[5:7]+"_"+time[8:10]+"_"+time[11:13]+"h_"+time[14:16]+"m_"+time[17:19]+"s.csv"
    file = file_neve+"_"
    file_name = file+file_end
    print(file_name)

    df.to_csv(file_name, sep=';',index=False)

# TESZT LOGIKA - javítás alattnál megtalálod

In [8]:
teszt = olvas('Test1NER.csv', None)
teszt['Tag'] = np.nan
teszt

           Sentence #           Word  POS  Tag
0      Sentence: 9001             In   IN  NaN
1                 NaN           2005   CD  NaN
2                 NaN              ,    ,  NaN
3                 NaN         Zambia  NNP  NaN
4                 NaN      qualified  VBD  NaN
5                 NaN            for   IN  NaN
6                 NaN           debt   NN  NaN
7                 NaN         relief   NN  NaN
8                 NaN          under   IN  NaN
9                 NaN            the   DT  NaN
10                NaN         Highly  NNP  NaN
11                NaN       Indebted  NNP  NaN
12                NaN           Poor  NNP  NaN
13                NaN        Country  NNP  NaN
14                NaN     Initiative  NNP  NaN
15                NaN              ,    ,  NaN
16                NaN     consisting  VBG  NaN
17                NaN             of   IN  NaN
18                NaN  approximately   RB  NaN
19                NaN            USD  NNP  NaN
20                NaN              6   CD  NaN
21                NaN        billion   CD  NaN
22                NaN             in   IN  NaN
23                NaN           debt   NN  NaN
24                NaN         relief   NN  NaN
25                NaN              .    .  NaN
26     Sentence: 9002        Poverty   NN  NaN
27                NaN        remains  VBZ  NaN
28                NaN              a   DT  NaN
29                NaN    significant   JJ  NaN
...               ...            ...  ...  ...
19372             NaN              a   DT  NaN
19373             NaN          liter   NN  NaN
19374             NaN             in   IN  NaN
19375             NaN            the   DT  NaN
19376             NaN           past   JJ  NaN
19377             NaN           year   NN  NaN
19378             NaN              .    .  NaN
19379  Sentence: 9900            The   DT  NaN
19380             NaN          death   NN  NaN
19381             NaN           toll   NN  NaN
19382             NaN           from   IN  NaN
19383             NaN       violence   NN  NaN
19384             NaN             in   IN  NaN
19385             NaN          Sudan  NNP  NaN
19386             NaN      following  VBG  NaN
19387             NaN            the   DT  NaN
19388             NaN          death   NN  NaN
19389             NaN             of   IN  NaN
19390             NaN         former   JJ  NaN
19391             NaN          rebel   JJ  NaN
19392             NaN         leader   NN  NaN
19393             NaN            and   CC  NaN
19394             NaN           Vice  NNP  NaN
19395             NaN      President  NNP  NaN
19396             NaN           John  NNP  NaN
19397             NaN         Garang  NNP  NaN
19398             NaN            has  VBZ  NaN
19399             NaN      surpassed  VBN  NaN
19400             NaN            100   CD  NaN
19401             NaN              .    .  NaN

[19402 rows x 4 columns]

In [90]:
tanulo = olvas('TrainNER.csv')
tanulo['Tag2'] = np.nan
tanulo.columns = ["Sentence #","Word","POS","Tag2","Tag"] 
teszt = tanulo
teszt

            Sentence #           Word   POS    Tag2  Tag
0          Sentence: 1      President   NNP   B-per  NaN
1                  NaN         Karzai   NNP   I-per  NaN
2                  NaN        thanked   VBD       O  NaN
3                  NaN            his  PRP$       O  NaN
4                  NaN         allies   NNS       O  NaN
5                  NaN            for    IN       O  NaN
6                  NaN          their  PRP$       O  NaN
7                  NaN           help    NN       O  NaN
8                  NaN             in    IN       O  NaN
9                  NaN       battling   VBG       O  NaN
10                 NaN      terrorism    NN       O  NaN
11                 NaN              .     .       O  NaN
12         Sentence: 2            The    DT       O  NaN
13                 NaN      commander    NN       O  NaN
14                 NaN             of    IN       O  NaN
15                 NaN           NATO   NNP   B-org  NaN
16                 NaN             's   POS       O  NaN
17                 NaN         Afghan    JJ   B-gpe  NaN
18                 NaN          force    NN       O  NaN
19                 NaN              ,     ,       O  NaN
20                 NaN        British   NNP   B-org  NaN
21                 NaN        General   NNP   I-org  NaN
22                 NaN          David   NNP   B-per  NaN
23                 NaN       Richards   NNP   I-per  NaN
24                 NaN              ,     ,       O  NaN
25                 NaN           said   VBD       O  NaN
26                 NaN            the    DT       O  NaN
27                 NaN          unity    NN       O  NaN
28                 NaN             of    IN       O  NaN
29                 NaN        command    NN       O  NaN
...                ...            ...   ...     ...  ...
196616             NaN        greatly    RB       O  NaN
196617             NaN      increased   VBN       O  NaN
196618             NaN         copper    NN       O  NaN
196619             NaN         mining    NN       O  NaN
196620             NaN         output    NN       O  NaN
196621             NaN            and    CC       O  NaN
196622             NaN  profitability    NN       O  NaN
196623             NaN             to    TO       O  NaN
196624             NaN           spur    VB       O  NaN
196625             NaN       economic    JJ       O  NaN
196626             NaN         growth    NN       O  NaN
196627             NaN              .     .       O  NaN
196628  Sentence: 9000         Copper    NN       O  NaN
196629             NaN         output    NN       O  NaN
196630             NaN            has   VBZ       O  NaN
196631             NaN      increased   VBN       O  NaN
196632             NaN       steadily    RB       O  NaN
196633             NaN          since    IN       O  NaN
196634             NaN           2004    CD  B-time  NaN
196635             NaN              ,     ,       O  NaN
196636             NaN            due    JJ       O  NaN
196637             NaN             to    TO       O  NaN
196638             NaN         higher   JJR       O  NaN
196639             NaN         copper    NN       O  NaN
196640             NaN         prices   NNS       O  NaN
196641             NaN            and    CC       O  NaN
196642             NaN        foreign    JJ       O  NaN
196643             NaN     investment    NN       O  NaN
196644             NaN              .     .       O  NaN
196645             NaN            NaN   NaN     NaN  NaN

[196646 rows x 5 columns]

# Alap gyenge prediktálás
## Hiányzik: 
#### - dátum beállítás PIPA
#### - B vagy I prepozíció PIPA
#### - szótárból hiányzó szavak prediktálása
#### - TIME: early this morning, previous/next year/week
#### - PORTER: NNS

In [52]:
j = 0
state = 'O'
for i in range(len(teszt)):
    #print(i)

    if (not(teszt["Sentence #"].isnull()[i])):
        if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
            if ((ord('A') <= ord(teszt.loc[i+1]["Word"][0]) & ord(teszt.loc[i+1]["Word"][0]) <= ord('Z')) & (teszt.loc[i]["Word"] in ("The", "A", "An"))):
            
                if(i!=0):
                    if(teszt.loc[i-1]["Tag"] == 'O'):
                        teszt.loc[i]["Tag"] = 'B-'
                    else:
                        teszt.loc[i]["Tag"] = 'I-'
                else:
                    teszt.loc[i]["Tag"] = 'B-'
                
                state = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
                teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state
            
            else:
                teszt.loc[i]["Tag"] = 'B-'
                state = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
                teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state
            
        
        else:
            teszt.loc[i]["Tag"] = 'PASSZ'
    
    
    
    elif (ord('A') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('Z')):
        if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
            
            if(teszt.loc[i-1]["Tag"] == 'O'):
                teszt.loc[i]["Tag"] = 'B-'
            else:
                teszt.loc[i]["Tag"] = 'I-'
            
            state =  nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state
        #elif (kisbetu_index[kisbetu_index["Word"] == teszt["Word"][i]].empty):
        #    
        else:
            teszt.loc[i]["Tag"] = 'PASSZ'
    
    
    
    elif (ord('1') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('9')):
        if ((teszt.loc[i-1]["Word"] in ('in', 'In', 'Since', 'since', 'the', 'The', 'and', 'early', 'next', 'previous')) or (teszt.loc[i+1]["Word"] in ('day','week','year','days','weeks','years'))):
            
            if(teszt.loc[i-1]["Tag"] == 'O'):
                teszt.loc[i]["Tag"] = 'B-'
            else:
                teszt.loc[i]["Tag"] = 'I-'
            
            state = 'time'
            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state
        else: 
            teszt.loc[i]["Tag"] = 'O'
    else: 
        teszt.loc[i]["Tag"] = 'O'    
teszt

           Sentence #           Word  POS     Tag
0      Sentence: 9001             In   IN   PASSZ
1                 NaN           2005   CD  I-time
2                 NaN              ,    ,       O
3                 NaN         Zambia  NNP   B-gpe
4                 NaN      qualified  VBD       O
5                 NaN            for   IN       O
6                 NaN           debt   NN       O
7                 NaN         relief   NN       O
8                 NaN          under   IN       O
9                 NaN            the   DT       O
10                NaN         Highly  NNP   B-org
11                NaN       Indebted  NNP   I-org
12                NaN           Poor  NNP   I-org
13                NaN        Country  NNP   PASSZ
14                NaN     Initiative  NNP   I-per
15                NaN              ,    ,       O
16                NaN     consisting  VBG       O
17                NaN             of   IN       O
18                NaN  approximately   RB       O
19                NaN            USD  NNP   PASSZ
20                NaN              6   CD       O
21                NaN        billion   CD       O
22                NaN             in   IN       O
23                NaN           debt   NN       O
24                NaN         relief   NN       O
25                NaN              .    .       O
26     Sentence: 9002        Poverty   NN   PASSZ
27                NaN        remains  VBZ       O
28                NaN              a   DT       O
29                NaN    significant   JJ       O
...               ...            ...  ...     ...
19372             NaN              a   DT       O
19373             NaN          liter   NN       O
19374             NaN             in   IN       O
19375             NaN            the   DT       O
19376             NaN           past   JJ       O
19377             NaN           year   NN       O
19378             NaN              .    .       O
19379  Sentence: 9900            The   DT   B-obj
19380             NaN          death   NN       O
19381             NaN           toll   NN       O
19382             NaN           from   IN       O
19383             NaN       violence   NN       O
19384             NaN             in   IN       O
19385             NaN          Sudan  NNP   B-gpe
19386             NaN      following  VBG       O
19387             NaN            the   DT       O
19388             NaN          death   NN       O
19389             NaN             of   IN       O
19390             NaN         former   JJ       O
19391             NaN          rebel   JJ       O
19392             NaN         leader   NN       O
19393             NaN            and   CC       O
19394             NaN           Vice  NNP   B-per
19395             NaN      President  NNP   I-per
19396             NaN           John  NNP   I-per
19397             NaN         Garang  NNP   I-per
19398             NaN            has  VBZ       O
19399             NaN      surpassed  VBN       O
19400             NaN            100   CD       O
19401             NaN              .    .       O

[19402 rows x 4 columns]

In [53]:
#teszt.loc[0]["Tag"] = 'Oa'
#teszt["Tag"][0] = 'O'
#teszt
writecsv(teszt)

solution_2017_10_16_17h_12m_24s.csv

# Javítás alatt - EZ AZ IGAZI LOGIKA, EZT KELL TOVÁBBFEJLESZTENI

In [169]:
j = 0
state = 'O'
for i in range(len(teszt)):
    
    ## NAGYBETŰ ÉS BENNE VAN A LISTÁBAN
    if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
    
    ## Következő vagy előző nagybetű-e?
        if ((ord('A') <= ord(teszt.loc[i+1]["Word"][0]) & ord(teszt.loc[i+1]["Word"][0]) <= ord('Z')) \
           or (ord('A') <= ord(teszt.loc[i-1]["Word"][0]) & ord(teszt.loc[i-1]["Word"][0]) <= ord('Z'))):

            ## előző Other volt, legalább kéttagú hosszú tulajdonnév
            if(state == 'O'):
                teszt.loc[i]["Tag"] = 'B-'
                ##KÉRDÉSES ????
                state = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
                teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state
            
            ## előző tulajdonnév volt, hozzátartozik ha ugyanolyan tulajdonság társul hozzá
            elif (state in list(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"])):
                teszt.loc[i]["Tag"] = 'I-'
                teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state


            else:
                teszt.loc[i]["Tag"] = 'B-'
                ##Kérdéses
                state = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
                teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state
                
                
        ## Stopszavak 
        elif (teszt.loc[i]["Word"] in ('The','A','An')):
            state = 'O'
            teszt.loc[i]["Tag"] = state
        
        ## Ha egy darab lehetőség egy szóhoz: az az egy lesz a state
        ## Ha több darab lehetőség egy szóhoz: Környezet felmérése
        else:
            if(len(list(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"])) == 1):
                teszt.loc[i]["Tag"] = 'B-'
                state = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
                teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state            
            else:
                if (teszt["Word"][i-1] in ('in', 'In') and ('geo' in list(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"]))): 
                    state = 'geo'
                else:
                    state = 'BUMM'
                teszt.loc[i]["Tag"] = 'B-'
                teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state            

                
## -----------------------------------------------------------------------------------------------
    
    ## NAGYBETŰ ÉS NINCS BENNE A LISTÁBAN
    elif (ord('A') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('Z')):
    
    ##Következő szó nagy betű-e vagy kötőszó és utána nagybetű
    ##Csak kis betűk veszik körbe: környezet felmérés
        if(i>0):
            if(teszt.loc[i-1]["Tag"] == 'O'):
                state = 'PASSZ'
                teszt.loc[i]["Tag"] = state
            else:
                teszt.loc[i]["Tag"] = 'I-'
                teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state

## -----------------------------------------------------------------------------------------------
    
    ## SZÁMMAL KEZDŐDIK
    ## NNP és NNPS esetén event
    elif (ord('1') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('9')):
        if ((teszt.loc[i-1]["Word"] in ('in', 'In', 'Since', 'since', 'the', 'The', 'and', 'early', 'next', 'previous')) or (teszt.loc[i+1]["Word"] in ('day','week','year','days','weeks','years'))):
            
            if(teszt.loc[i-1]["Tag"] == 'O'):
                teszt.loc[i]["Tag"] = 'B-'
            else:
                teszt.loc[i]["Tag"] = 'I-'
            
            state = 'time'
            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state
        else: 
            teszt.loc[i]["Tag"] = 'O'

## -----------------------------------------------------------------------------------------------            
            
    ## KISBETŰ és benne van
    ## legalább 5 karakter hosszú -> listából be
    ## amúgy megnézzük a következő szó hova sorolódik
    elif (not(kisbetu_index[kisbetu_index["Word"] == teszt["Word"][i]].empty)):
        if (len(teszt.loc[i]["Word"][0])>=5):
            if(teszt.loc[i-1]["Tag"] == 'O'):
                teszt.loc[i]["Tag"] = 'B-'
            else:
                teszt.loc[i]["Tag"] = 'I-'
            
            state = kisbetu_index[kisbetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state
        
        #nem 5 karakterhosszú, megnézem hogy a következő és előző szó ami nagybetűs benne van-e
        else:
            if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i+1]].empty) \
                and not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i-1]].empty)):
                
                if(teszt.loc[i-1]["Tag"] == 'O'):
                    teszt.loc[i]["Tag"] = 'B-'
                else:
                    teszt.loc[i]["Tag"] = 'I-'
                    
                state = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i+1]]["Tag"].values.take(0)
                teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + state
            
            else:
                state = 'O'
                teszt.loc[i]["Tag"] = state
        
    else:
        state = 'O'
        teszt.loc[i]["Tag"] = state    
teszt

           Sentence #           Word  POS     Tag
0      Sentence: 9001             In   IN       O
1                 NaN           2005   CD  B-time
2                 NaN              ,    ,       O
3                 NaN         Zambia  NNP  B-BUMM
4                 NaN      qualified  VBD       O
5                 NaN            for   IN       O
6                 NaN           debt   NN       O
7                 NaN         relief   NN       O
8                 NaN          under   IN       O
9                 NaN            the   DT       O
10                NaN         Highly  NNP   B-org
11                NaN       Indebted  NNP   I-org
12                NaN           Poor  NNP   I-org
13                NaN        Country  NNP   I-org
14                NaN     Initiative  NNP   I-org
15                NaN              ,    ,       O
16                NaN     consisting  VBG       O
17                NaN             of   IN       O
18                NaN  approximately   RB       O
19                NaN            USD  NNP   PASSZ
20                NaN              6   CD       O
21                NaN        billion   CD       O
22                NaN             in   IN       O
23                NaN           debt   NN       O
24                NaN         relief   NN       O
25                NaN              .    .       O
26     Sentence: 9002        Poverty   NN   PASSZ
27                NaN        remains  VBZ       O
28                NaN              a   DT       O
29                NaN    significant   JJ       O
...               ...            ...  ...     ...
19372             NaN              a   DT       O
19373             NaN          liter   NN       O
19374             NaN             in   IN       O
19375             NaN            the   DT       O
19376             NaN           past   JJ       O
19377             NaN           year   NN       O
19378             NaN              .    .       O
19379  Sentence: 9900            The   DT       O
19380             NaN          death   NN       O
19381             NaN           toll   NN       O
19382             NaN           from   IN       O
19383             NaN       violence   NN       O
19384             NaN             in   IN       O
19385             NaN          Sudan  NNP   B-geo
19386             NaN      following  VBG       O
19387             NaN            the   DT       O
19388             NaN          death   NN       O
19389             NaN             of   IN       O
19390             NaN         former   JJ       O
19391             NaN          rebel   JJ       O
19392             NaN         leader   NN       O
19393             NaN            and   CC       O
19394             NaN           Vice  NNP   B-per
19395             NaN      President  NNP   I-per
19396             NaN           John  NNP   I-per
19397             NaN         Garang  NNP   I-per
19398             NaN            has  VBZ       O
19399             NaN      surpassed  VBN       O
19400             NaN            100   CD       O
19401             NaN              .    .       O

[19402 rows x 4 columns]

In [167]:
i=14
len(list(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"]))

2

# Statisztika tulajdonnevek környezetére (milyen szófajokveszik körül)
# Inkább olvasd be a csv-t mint ezt lefutasd mégegyszer !!!!

In [229]:
statisztika = pd.DataFrame(columns=['Tag','Before','After','Darab'], index=range(1))
lista = []
igaz = False
index = 0
for i in range(len(tanulo)):
    if((i != len(tanulo)-1) and len(tanulo.iloc[i]["Tag"][2:len(tanulo.iloc[i]["Tag"])]) > 1):
        
        lista.append(tanulo.iloc[i]["Tag"][2:len(tanulo.iloc[i]["Tag"])])
        lista.append(tanulo.iloc[i-1]["POS"])
        lista.append(tanulo.iloc[i+1]["POS"])
        lista.append(1)
        
        for j in range(len(statisztika)):
            if(lista[0] == statisztika["Tag"][j] and lista[1] == statisztika["Before"][j] \
               and lista[2] == statisztika["After"][j]):
                statisztika["Darab"][j] = statisztika["Darab"][j] + 1
                igaz = True
        
        if (not(igaz)):
            statisztika.loc[index] = lista
            index = index + 1
        
        lista = []
        igaz = False
        
statisztika

        Tag Before After Darab
0       per    NaN   NNP     1
1       per    NNP   VBD   654
2       org     IN   POS    41
3       gpe    POS    NN     9
4       org      ,   NNP    78
5       org    NNP   NNP   968
6       per    NNP   NNP  1288
7       per    NNP     ,   396
8       geo     IN   NNP   504
9       geo     JJ    IN    43
10      org     IN   VBD    24
11     time     IN     ,   263
12      per      ,   VBD    31
13      org     DT    NN   208
14      per      .   VBD   111
15      geo      .   POS   183
16     time    VBD    IN   118
17     time     IN   VBD    29
18     time    VBN    CD    19
19     time    NNP    IN   105
20      org     NN   NNP    66
21      org    NNP     ,   172
22      per    VBD   NNP    81
23      org      .   NNP   161
24      org    NNP   VBD   166
25      per     TO   NNP    30
26      per    NNP    TO    40
27      org    NNP     .   145
28     time     IN    DT    13
29      org     DT   NNP   779
...     ...    ...   ...   ...
1575    org   PRP$     .     1
1576  event    NNS    IN     1
1577    per    VBN    RB     1
1578   time     IN   RBR     1
1579    gpe     NN    CC     1
1580    geo    POS   VBD     1
1581    geo    WRB    CC     1
1582    gpe    VBD    JJ     1
1583   time    NNP   VBN     1
1584    per    VBD     .     1
1585    org     JJ   VBG     1
1586    geo    VBD   VBG     1
1587   time     NN   PRP     1
1588    gpe    NNP    JJ     2
1589    per     IN   LRB     1
1590    per     IN    JJ     1
1591    geo     TO   WRB     1
1592    geo     JJ   WDT     1
1593    org     WP   VBZ     1
1594    gpe    NNP    TO     1
1595   time   NNPS     ,     1
1596   time     JJ   WDT     1
1597    org     CC    ``     1
1598    org     ``    ``     1
1599    org     ``   VBP     1
1600    geo    JJS   NNP     1
1601    gpe     DT   WRB     1
1602    per    VBN   NNS     1
1603    geo    VBZ    VB     1
1604    per   PRP$   NNS     1

[1605 rows x 4 columns]

In [230]:
statisztika.sort_values(["Tag","Darab"], ascending = [True,False])

        Tag Before After Darab
268   event     DT   NNP    16
406   event    NNP   NNP    15
270   event    NNP    IN    11
326   event    NNP     ,     9
405   event     IN   NNP     9
917   event    NNP   NNS     6
407   event    NNP     .     5
296   event     JJ   NNP     4
583   event     DT  NNPS     4
912   event    NNP    NN     4
279   event    NNP    ``     3
886   event    NNP   VBD     3
269   event     CD  NNPS     2
278   event     ``   NNP     2
297   event    NNP    TO     2
320   event    NNP   VBZ     2
457   event    VBG   NNP     2
507   event     JJ    NN     2
584   event    NNP    JJ     2
772   event    NNP    RB     2
863   event     DT   NNS     2
885   event    NNP    CC     2
900   event    VBD   NNP     2
901   event    NNP   POS     2
902   event    POS   NNP     2
1371  event      .   NNP     2
1372  event     NN   VBZ     2
1375  event    NNP    DT     2
271   event     DT   VBP     1
274   event     DT     .     1
...     ...    ...   ...   ...
1412   time      :    DT     1
1417   time     NN   WRB     1
1426   time     RB   VBZ     1
1433   time    VBN    MD     1
1437   time     TO   POS     1
1444   time   PRP$    CC     1
1445   time     VB   VBD     1
1446   time    VBP   VBZ     1
1451   time    VBZ   NNP     1
1466   time     JJ   VBN     1
1468   time     WP   NNS     1
1494   time     CC     :     1
1502   time     NN    RB     1
1511   time    JJR     .     1
1520   time    NNP   WDT     1
1522   time    PRP    IN     1
1528   time    NNP    MD     1
1545   time     RB    DT     1
1548   time    VBG   VBG     1
1549   time     ``    IN     1
1554   time      $    DT     1
1555   time     CD   LRB     1
1559   time      .    JJ     1
1566   time    NNS     :     1
1569   time     CD   VBZ     1
1578   time     IN   RBR     1
1583   time    NNP   VBN     1
1587   time     NN   PRP     1
1595   time   NNPS     ,     1
1596   time     JJ   WDT     1

[1605 rows x 4 columns]

In [231]:
writecsv(statisztika,"statisztika")

statisztika_2017_10_17_16h_22m_53s.csv

In [191]:
tanulo.iloc[2]["Tag"][2:len(df.iloc[2]["Tag"])]

''

In [221]:
len(tanulo[tanulo["Tag"]!='O'])

30036

In [71]:
#teszt.loc[0]["Tag"] = 'O'
#teszt
#i=3
#teszt["Sentence #"].isnull()[3]

nagybetu_index[nagybetu_index["Word"] == teszt["Word"][19379]] #283, 1266

nagybetu_index[1260:1270]

nagybetu_index[nagybetu_index["Word"] == teszt["Word"][14]]

#teszt["Sentence #"][0]
#teszt["Sentence #"].isnull()[3]
#tanulo[tanulo["Word"] == teszt["Word"][3]]
#tanulo[9650:9680]
#nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]].empty
#not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]].empty)
#nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]]["Tag"].values.take(0)
#teszt.iloc[0]["Tag"] = "Neeeem"
#teszt.loc[0]
#teszt.iloc[0]["Tag"] = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]]["Tag"].values.take(0)
#teszt.iloc[0]["Tag"]
#teszt.iloc[0]["Tag"] = teszt.iloc[0]["Tag"] + "-0"
#teszt.iloc[0]["Tag"]
#nagybetu_index["Word"][0] in (teszt["Word"][0], "President", "Hashtag")

            Word  POS  Tag
2500  Initiative  NNP  per
4602  Initiative  NNP  org

# Program

In [6]:
############beolvasás

tanulo = olvas('TrainNER.csv')
############tanulóhalmaz kigyűjtése

nagybetu = kezdobetu(tanulo,ord('A'),ord('Z'))
kisbetu = kezdobetu(tanulo,ord('a'),ord('z'))

############tanulóhalmaz megtisztítása
nagybetu_index = resetindex(nagybetu)
kisbetu_index = resetindex(kisbetu)



############tanulóhalmaz szótövezése


############teszthalmaz beolvasása + másolat => TAG oszlop felvétele
#teszt1 = olvas('Test1NER.csv', None)
#teszt2 = olvas('Test2NER.csv', None)


############teszthalmaz prediktálása + szótövezése



############csv-be írás
#writecsv(nagybetu,"Nagybetu")

In [7]:
nagybetu_index

              Word   POS   Tag
0        President   NNP   per
1           Karzai   NNP   per
2             NATO   NNP   org
3           Afghan    JJ   gpe
4          British   NNP   org
5          General   NNP   org
6            David   NNP   per
7         Richards   NNP   per
8      Afghanistan   NNP   geo
9             July   NNP  time
10           Burma   NNP   geo
11        Minister   NNP   per
12            Khin   NNP   per
13           Nyunt   NNP   per
14          Sunday   NNP  time
15         October   NNP  time
16           Thura   NNP   org
17            Shwe   NNP   org
18            Mahn   NNP   org
19             Soe   NNP   org
20             Win   NNP   org
21     Afghanistan   NNP  time
22           Joint   NNP   org
23    Coordination   NNP   org
24      Monitoring   NNP   org
25           Board   NNP   org
26          Monday   NNP  time
27          United   NNP   org
28         Nations  NNPS   org
29         Taleban   NNP   org
...            ...   ...   ...
5356   Secretariat   NNP   org
5357        Census   NNP   org
5358       Angolan    JJ   gpe
5359      Anglican   NNP   org
5360    Archbishop   NNP   org
5361       Desmond   NNP   org
5362          Tutu   NNP   org
5363         Abune   NNP   per
5364        Paulos   NNP   per
5365         Alpha   NNP   org
5366         Oumar   NNP   org
5367        Konare   NNP   org
5368        Yonhap   NNP   org
5369           SBS   NNP   org
5370         North    JJ   org
5371         Moore   NNP   per
5372      Balaguer   NNP   per
5373        Cannes   NNP   org
5374      Security    NN   org
5375        Indira   NNP   geo
5376        Gandhi   NNP   geo
5377           Yao   NNP   per
5378          Ming   NNP   per
5379        Anders   NNP   per
5380          Fogh   NNP   per
5381     Rasmussen   NNP   per
5382     Halloween   NNP   geo
5383       Algeria   NNP   geo
5384   Abd-al-Nisr   NNP   org
5385    Khantumani   NNP   org

[5386 rows x 3 columns]

# Innentol van az NLTK stemming + POS-tagging

In [15]:
import nltk

In [16]:
def rowStemmer(row,stemmer):
    return(stemmer.stem(row['Word']))

def stemProcess(dfIn,stemmer):
    dfTemp = dfIn.copy()
    typeString = str(type(stemmer)).split('.')[-1][:-2]
    dfTemp['STEM_{0}'.format(typeString)] = dfTemp.apply(lambda x: rowStemmer(x,stemmer), axis = 1)
    return dfTemp

In [17]:
df = pd.read_csv('TrainNER.csv',sep=';', encoding = "ISO-8859-1")
test1 = pd.read_csv('Test1NER.csv',sep=';', encoding = "ISO-8859-1", header=None)
test2 = pd.read_csv('Test2NER.csv',sep=';', encoding = "ISO-8859-1", header=None)
train1 = pd.read_csv('TrainNER.csv',sep=';', encoding = "ISO-8859-1")

In [18]:
test1.head(10)

                0          1    2
0  Sentence: 9001         In   IN
1             NaN       2005   CD
2             NaN          ,    ,
3             NaN     Zambia  NNP
4             NaN  qualified  VBD
5             NaN        for   IN
6             NaN       debt   NN
7             NaN     relief   NN
8             NaN      under   IN
9             NaN        the   DT

In [19]:
test1.columns=(['Sentence #','Word','Pos'])
test1.head(3)

       Sentence #  Word Pos
0  Sentence: 9001    In  IN
1             NaN  2005  CD
2             NaN     ,   ,

In [20]:
test2.columns=(['Sentence #', 'Word'])
test2.head(10)

       Sentence #           Word
0  Sentence: 9901            The
1             NaN  International
2             NaN      Committee
3             NaN             of
4             NaN            the
5             NaN            Red
6             NaN          Cross
7             NaN           says
8             NaN             84
9             NaN         people

In [21]:
train1.head(10)

    Sentence #       Word   POS    Tag
0  Sentence: 1  President   NNP  B-per
1          NaN     Karzai   NNP  I-per
2          NaN    thanked   VBD      O
3          NaN        his  PRP$      O
4          NaN     allies   NNS      O
5          NaN        for    IN      O
6          NaN      their  PRP$      O
7          NaN       help    NN      O
8          NaN         in    IN      O
9          NaN   battling   VBG      O

In [22]:
miniTrain = df[20:40]
miniTrain

   Sentence #           Word  POS    Tag
20        NaN        British  NNP  B-org
21        NaN        General  NNP  I-org
22        NaN          David  NNP  B-per
23        NaN       Richards  NNP  I-per
24        NaN              ,    ,      O
25        NaN           said  VBD      O
26        NaN            the   DT      O
27        NaN          unity   NN      O
28        NaN             of   IN      O
29        NaN        command   NN      O
30        NaN            the   DT      O
31        NaN       transfer   NN      O
32        NaN        brought  VBD      O
33        NaN           will   MD      O
34        NaN        enhance   VB      O
35        NaN            the   DT      O
36        NaN  effectiveness   NN      O
37        NaN             of   IN      O
38        NaN            the   DT      O
39        NaN        overall   JJ      O

In [23]:
pStemmer = nltk.PorterStemmer()
sbStemmer = nltk.SnowballStemmer('english')

miniTrain = stemProcess(miniTrain,sbStemmer)
miniTrain = stemProcess(miniTrain,pStemmer)

In [24]:
miniTrain

,Sentence #,Word,POS,Tag,STEM_SnowballStemmer,STEM_PorterStemmer
20,NaN,British,NNP,B-org,british,british
21,NaN,General,NNP,I-org,general,gener
22,NaN,David,NNP,B-per,david,david
23,NaN,Richards,NNP,I-per,richard,richard
24,NaN,",",",",O,",",","
25,NaN,said,VBD,O,said,said
26,NaN,the,DT,O,the,the
27,NaN,unity,NN,O,uniti,uniti
28,NaN,of,IN,O,of,of
29,NaN,command,NN,O,command,command
30,NaN,the,DT,O,the,the
31,NaN,transfer,NN,O,transfer,transfer
32,NaN,brought,VBD,O,brought,brought
33,NaN,will,MD,O,will,will
34,NaN,enhance,VB,O,enhanc,enhanc
35,NaN,the,DT,O,the,the
36,NaN,effectiveness,NN,O,effect,effect
37,NaN,of,IN,O,of,of
38,NaN,the,DT,O,the,the
39,NaN,overall,JJ,O,overal,overal

In [25]:
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Lovasz\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lovasz\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [26]:
def rowPrediction(row):
    tokenizedWord = nltk.word_tokenize(row['Word'])
    return(nltk.pos_tag(tokenizedWord)[-1][-1])

def posProcess(dfIn):
    dfTemp = dfIn.copy()
    dfTemp['POS2'] = dfTemp.apply(lambda x: rowPrediction(x), axis = 1)
    return dfTemp

In [27]:
miniTrain = posProcess(miniTrain)
miniTrain

,Sentence #,Word,POS,Tag,STEM_SnowballStemmer,STEM_PorterStemmer,POS2
20,NaN,British,NNP,B-org,british,british,JJ
21,NaN,General,NNP,I-org,general,gener,NNP
22,NaN,David,NNP,B-per,david,david,NNP
23,NaN,Richards,NNP,I-per,richard,richard,NNS
24,NaN,",",",",O,",",",",","
25,NaN,said,VBD,O,said,said,VBD
26,NaN,the,DT,O,the,the,DT
27,NaN,unity,NN,O,uniti,uniti,NN
28,NaN,of,IN,O,of,of,IN
29,NaN,command,NN,O,command,command,NN
30,NaN,the,DT,O,the,the,DT
31,NaN,transfer,NN,O,transfer,transfer,NN
32,NaN,brought,VBD,O,brought,brought,NN
33,NaN,will,MD,O,will,will,MD
34,NaN,enhance,VB,O,enhanc,enhanc,NN
35,NaN,the,DT,O,the,the,DT
36,NaN,effectiveness,NN,O,effect,effect,NN
37,NaN,of,IN,O,of,of,IN
38,NaN,the,DT,O,the,the,DT
39,NaN,overall,JJ,O,overal,overal,JJ

In [28]:
print('lengths: test1 - {0}, test2 - {1}'.format(len(test1),len(test2)))

lengths: test1 - 19402, test2 - 9878

In [29]:
test1 = test1[pd.notnull(test1['Word'])]
test2 = test2[pd.notnull(test2['Word'])]

print('lengths: test1 - {0}, test2 - {1}'.format(len(test1),len(test2)))

lengths: test1 - 19402, test2 - 9878

In [30]:
test1 = stemProcess(test1,sbStemmer)
test1 = stemProcess(test1,pStemmer)


test2 = posProcess(test2)

test2 = stemProcess(test2,sbStemmer)
test2 = stemProcess(test2,pStemmer)

test2.head(10)

       Sentence #           Word POS2 STEM_SnowballStemmer STEM_PorterStemmer
0  Sentence: 9901            The   DT                  the                the
1             NaN  International  NNP               intern             intern
2             NaN      Committee  NNP             committe           committe
3             NaN             of   IN                   of                 of
4             NaN            the   DT                  the                the
5             NaN            Red   JJ                  red                red
6             NaN          Cross   NN                cross              cross
7             NaN           says  VBZ                  say                say
8             NaN             84   CD                   84                 84
9             NaN         people  NNS                peopl              peopl

In [75]:
train1[train1["Word"] == "Civil"]

,Sentence #,Word,POS,Tag,STEM_SnowballStemmer,STEM_PorterStemmer
22289,NaN,Civil,NNP,I-org,civil,civil
123331,NaN,Civil,NNP,B-org,civil,civil
127153,NaN,Civil,NNP,B-org,civil,civil
140927,NaN,Civil,NNP,B-org,civil,civil
146439,Sentence: 6679,Civil,JJ,B-org,civil,civil
179005,Sentence: 8191,Civil,JJ,B-org,civil,civil

In [31]:
train1.head(2)

    Sentence #       Word  POS    Tag
0  Sentence: 1  President  NNP  B-per
1          NaN     Karzai  NNP  I-per

In [32]:
train1 = train1[pd.notnull(train1['Word'])]

train1 = stemProcess(train1,sbStemmer)
train1 = stemProcess(train1,pStemmer)

train1.head()

    Sentence #       Word   POS    Tag STEM_SnowballStemmer STEM_PorterStemmer
0  Sentence: 1  President   NNP  B-per               presid             presid
1          NaN     Karzai   NNP  I-per               karzai             karzai
2          NaN    thanked   VBD      O                thank              thank
3          NaN        his  PRP$      O                  his                 hi
4          NaN     allies   NNS      O                 alli               alli

In [33]:
train1
writecsv(train1,"pos_stem")

pos_stem_2017_10_16_13h_11m_42s.csv

In [ ]:
mySentence = 'I ate 24 pancakes for breakfast.'
tokenized = nltk.word_tokenize(mySentence)

In [ ]:
type(tokenized[2])

In [ ]:
nltk.pos_tag(tokenized)

In [44]:
test1

,Sentence #,Word,Pos,STEM_SnowballStemmer,STEM_PorterStemmer
0,Sentence: 9001,In,IN,in,In
1,NaN,2005,CD,2005,2005
2,NaN,",",",",",",","
3,NaN,Zambia,NNP,zambia,zambia
4,NaN,qualified,VBD,qualifi,qualifi
5,NaN,for,IN,for,for
6,NaN,debt,NN,debt,debt
7,NaN,relief,NN,relief,relief
8,NaN,under,IN,under,under
9,NaN,the,DT,the,the
10,NaN,Highly,NNP,high,highli
11,NaN,Indebted,NNP,indebt,indebt
12,NaN,Poor,NNP,poor,poor
13,NaN,Country,NNP,countri,countri
14,NaN,Initiative,NNP,initi,initi
15,NaN,",",",",",",","
16,NaN,consisting,VBG,consist,consist
17,NaN,of,IN,of,of
18,NaN,approximately,RB,approxim,approxim
19,NaN,USD,NNP,usd,usd
20,NaN,6,CD,6,6
21,NaN,billion,CD,billion,billion
22,NaN,in,IN,in,in
23,NaN,debt,NN,debt,debt
24,NaN,relief,NN,relief,relief
25,NaN,.,.,.,.
26,Sentence: 9002,Poverty,NN,poverti,poverti
27,NaN,remains,VBZ,remain,remain
28,NaN,a,DT,a,a
29,NaN,significant,JJ,signific,signific
...,...,...,...,...,...
19372,NaN,a,DT,a,a
19373,NaN,liter,NN,liter,liter
19374,NaN,in,IN,in,in
19375,NaN,the,DT,the,the
19376,NaN,past,JJ,past,past
19377,NaN,year,NN,year,year
19378,NaN,.,.,.,.
19379,Sentence: 9900,The,DT,the,the
19380,NaN,death,NN,death,death
19381,NaN,toll,NN,toll,toll
19382,NaN,from,IN,from,from
19383,NaN,violence,NN,violenc,violenc
19384,NaN,in,IN,in,in
19385,NaN,Sudan,NNP,sudan,sudan
19386,NaN,following,VBG,follow,follow
19387,NaN,the,DT,the,the
19388,NaN,death,NN,death,death
19389,NaN,of,IN,of,of
19390,NaN,former,JJ,former,former
19391,NaN,rebel,JJ,rebel,rebel
19392,NaN,leader,NN,leader,leader
19393,NaN,and,CC,and,and
19394,NaN,Vice,NNP,vice,vice
19395,NaN,President,NNP,presid,presid
19396,NaN,John,NNP,john,john
19397,NaN,Garang,NNP,garang,garang
19398,NaN,has,VBZ,has,ha
19399,NaN,surpassed,VBN,surpass,surpass
19400,NaN,100,CD,100,100
19401,NaN,.,.,.,.

In [45]:
nagybetu

              Word   POS   Tag
0        President   NNP   per
1           Karzai   NNP   per
2             NATO   NNP   org
3           Afghan    JJ   gpe
4          British   NNP   org
5          General   NNP   org
6            David   NNP   per
7         Richards   NNP   per
8      Afghanistan   NNP   geo
9             NATO   NNP   org
10            July   NNP  time
11        Richards   NNP   per
12            NATO   NNP   org
13        Richards   NNP   per
14           Burma   NNP   geo
15        Minister   NNP   per
16            Khin   NNP   per
17           Nyunt   NNP   per
18          Sunday   NNP  time
19         October   NNP  time
20         General   NNP   org
21           Thura   NNP   org
22            Shwe   NNP   org
23            Mahn   NNP   org
24            Khin   NNP   per
25           Nyunt   NNP   per
26           Thura   NNP   org
27            Shwe   NNP   org
28            Mahn   NNP   org
29            Khin   NNP   per
...            ...   ...   ...
26809       Africa   NNP   geo
26810    Halloween   NNP   geo
26811       Sunday   NNP  time
26812      America   NNP   geo
26813    Halloween   NNP   geo
26814       United   NNP   geo
26815       States  NNPS   geo
26816   Guantanamo   NNP   geo
26817          Bay   NNP   geo
26818         Cuba   NNP   geo
26819      Defense   NNP   org
26820   Department   NNP   org
26821       Monday   NNP  time
26822        Abdul   NNP   per
26823         Aziz   NNP   per
26824         Naji   NNP   per
26825      Algeria   NNP   geo
26826  Abd-al-Nisr   NNP   org
26827     Mohammed   NNP   org
26828   Khantumani   NNP   org
26829         Cape   NNP   geo
26830        Verde   NNP   geo
26831         U.S.   NNP   geo
26832   Guantanamo   NNP   geo
26833    President   NNP   per
26834       Barack   NNP   per
26835        Obama   NNP   per
26836      January   NNP  time
26837         U.S.   NNP   geo
26838       Zambia   NNP   geo

[26839 rows x 3 columns]

In [36]:
valami = pd.DataFrame(columns=["egy","ketto"], index=[3,6,10])

In [42]:
valami.index.values[0]

3

In [43]:
for i in range(3):
    valami["egy"][valami.index.values[i]] = valami.index.values[i]
valami

   egy ketto
3    3   NaN
6    6   NaN
10  10   NaN