In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
def olvas(file_name, fejlec = 'infer'):
    if (fejlec == 'infer'):
        df = pd.read_csv(file_name, sep=';' , encoding = "ISO-8859-1", header = fejlec)
    elif (file_name[0:5]=='Test1'): 
        df = pd.read_csv(file_name, sep=';' , encoding = "ISO-8859-1", header = fejlec, names = ['Sentence #','Word', 'POS'])
    else:
        df = pd.read_csv(file_name, sep=';' , encoding = "ISO-8859-1", header = fejlec, names = ['Sentence #','Word'])
    return df

In [3]:
def kezdobetu(df,k_betu_szama,v_betu_szama):
    s = pd.DataFrame(columns=('Word', 'POS', 'Tag'))
    j = 0
    for i in range(len(df)):
        if not(pd.isnull(df.iloc[i]["Word"])):
            if (k_betu_szama <= ord(df.iloc[i]["Word"][0])) & (ord(df.iloc[i]["Word"][0]) <= v_betu_szama) & ((df.iloc[i]["Tag"][0] == 'B') | (df.iloc[i]["Tag"][0] == 'I')):
                    s.loc[j] = [df.iloc[i]["Word"],df.iloc[i]["POS"],df.iloc[i]["Tag"][2:len(df.iloc[i]["Tag"])]]
                    j = j + 1
    return s

In [4]:
def resetindex(df):
    t3 = df.drop_duplicates()
    t4 = t3.reset_index(drop=True)
    return t4

In [5]:
def writecsv(df, file_neve = 'solution'):
    time = str(dt.datetime.now())

    file_end = time[0:4]+"_"+time[5:7]+"_"+time[8:10]+"_"+time[11:13]+"h_"+time[14:16]+"m_"+time[17:19]+"s.csv"
    file = file_neve+"_"
    file_name = file+file_end
    print(file_name)

    df.to_csv(file_name, sep=';',index=False)

In [6]:
df = pd.read_csv('TrainNER.csv',sep=';', encoding = "ISO-8859-1")

In [7]:
df

            Sentence #           Word   POS     Tag
0          Sentence: 1      President   NNP   B-per
1                  NaN         Karzai   NNP   I-per
2                  NaN        thanked   VBD       O
3                  NaN            his  PRP$       O
4                  NaN         allies   NNS       O
5                  NaN            for    IN       O
6                  NaN          their  PRP$       O
7                  NaN           help    NN       O
8                  NaN             in    IN       O
9                  NaN       battling   VBG       O
10                 NaN      terrorism    NN       O
11                 NaN              .     .       O
12         Sentence: 2            The    DT       O
13                 NaN      commander    NN       O
14                 NaN             of    IN       O
15                 NaN           NATO   NNP   B-org
16                 NaN             's   POS       O
17                 NaN         Afghan    JJ   B-gpe
18                 NaN          force    NN       O
19                 NaN              ,     ,       O
20                 NaN        British   NNP   B-org
21                 NaN        General   NNP   I-org
22                 NaN          David   NNP   B-per
23                 NaN       Richards   NNP   I-per
24                 NaN              ,     ,       O
25                 NaN           said   VBD       O
26                 NaN            the    DT       O
27                 NaN          unity    NN       O
28                 NaN             of    IN       O
29                 NaN        command    NN       O
...                ...            ...   ...     ...
196616             NaN        greatly    RB       O
196617             NaN      increased   VBN       O
196618             NaN         copper    NN       O
196619             NaN         mining    NN       O
196620             NaN         output    NN       O
196621             NaN            and    CC       O
196622             NaN  profitability    NN       O
196623             NaN             to    TO       O
196624             NaN           spur    VB       O
196625             NaN       economic    JJ       O
196626             NaN         growth    NN       O
196627             NaN              .     .       O
196628  Sentence: 9000         Copper    NN       O
196629             NaN         output    NN       O
196630             NaN            has   VBZ       O
196631             NaN      increased   VBN       O
196632             NaN       steadily    RB       O
196633             NaN          since    IN       O
196634             NaN           2004    CD  B-time
196635             NaN              ,     ,       O
196636             NaN            due    JJ       O
196637             NaN             to    TO       O
196638             NaN         higher   JJR       O
196639             NaN         copper    NN       O
196640             NaN         prices   NNS       O
196641             NaN            and    CC       O
196642             NaN        foreign    JJ       O
196643             NaN     investment    NN       O
196644             NaN              .     .       O
196645             NaN            NaN   NaN     NaN

[196646 rows x 4 columns]

Nagybetű és 12 kategória egyike (dátumok nincsenek benne)

In [5]:
j = 0
for i in range(len(df)):
    if not(pd.isnull(df.iloc[i]["Word"])):
        if (65 <= ord(df.iloc[i]["Word"][0])) & (ord(df.iloc[i]["Word"][0]) <= 90) & ((df.iloc[i]["Tag"][0] == 'B') | (df.iloc[i]["Tag"][0] == 'I')):
                s.loc[j] = [df.iloc[i]["Word"],df.iloc[i]["POS"],df.iloc[i]["Tag"][2:len(df.iloc[i]["Tag"])]]
                j = j + 1
s

              Word   POS   Tag
0        President   NNP   per
1           Karzai   NNP   per
2             NATO   NNP   org
3           Afghan    JJ   gpe
4          British   NNP   org
5          General   NNP   org
6            David   NNP   per
7         Richards   NNP   per
8      Afghanistan   NNP   geo
9             NATO   NNP   org
10            July   NNP  time
11        Richards   NNP   per
12            NATO   NNP   org
13        Richards   NNP   per
14           Burma   NNP   geo
15        Minister   NNP   per
16            Khin   NNP   per
17           Nyunt   NNP   per
18          Sunday   NNP  time
19         October   NNP  time
20         General   NNP   org
21           Thura   NNP   org
22            Shwe   NNP   org
23            Mahn   NNP   org
24            Khin   NNP   per
25           Nyunt   NNP   per
26           Thura   NNP   org
27            Shwe   NNP   org
28            Mahn   NNP   org
29            Khin   NNP   per
...            ...   ...   ...
26809       Africa   NNP   geo
26810    Halloween   NNP   geo
26811       Sunday   NNP  time
26812      America   NNP   geo
26813    Halloween   NNP   geo
26814       United   NNP   geo
26815       States  NNPS   geo
26816   Guantanamo   NNP   geo
26817          Bay   NNP   geo
26818         Cuba   NNP   geo
26819      Defense   NNP   org
26820   Department   NNP   org
26821       Monday   NNP  time
26822        Abdul   NNP   per
26823         Aziz   NNP   per
26824         Naji   NNP   per
26825      Algeria   NNP   geo
26826  Abd-al-Nisr   NNP   org
26827     Mohammed   NNP   org
26828   Khantumani   NNP   org
26829         Cape   NNP   geo
26830        Verde   NNP   geo
26831         U.S.   NNP   geo
26832   Guantanamo   NNP   geo
26833    President   NNP   per
26834       Barack   NNP   per
26835        Obama   NNP   per
26836      January   NNP  time
26837         U.S.   NNP   geo
26838       Zambia   NNP   geo

[26839 rows x 3 columns]

Kisbetű és 12 kategória egyike (dátumok nincsenek benne)

In [11]:
j = 0
for i in range(len(df)):
    if not(pd.isnull(df.iloc[i]["Word"])):
        if (97 <= ord(df.iloc[i]["Word"][0]) & ord(df.iloc[i]["Word"][0]) <= 122) & ((df.iloc[i]["Tag"][0] == 'B') | (df.iloc[i]["Tag"][0] == 'I')):
            t.loc[j] = [df.iloc[i]["Word"],df.iloc[i]["POS"],df.iloc[i]["Tag"][2:len(df.iloc[i]["Tag"])]]
            j = j + 1
t

                                                   Word  POS   Tag
0                                              southern   JJ   geo
1                                                 today   NN  time
2                                                   and   CC   org
3                                                    al  NNP   org
4                                                    in   IN   org
5                                                    al  NNP   org
6                                                    in   IN   org
7                                              al-Qaida  NNP   org
8                                                   bin  NNP   per
9                                                   bin  NNP   per
10                                               states  NNS   geo
11                                                  for   IN   org
12                                                  and   CC   org
13                                                   of   IN   org
14                                                   of   IN   org
15                                                  and   CC   org
16                                                   of   IN  time
17                                              english  NNP   obj
18                                    government-funded   JJ   org
19                                              alHurra  NNP   obj
20                                             airlines  NNS   org
21                                                   of   IN   org
22                                                   on   IN   org
23                                                   of   IN   obj
24                                                   of   IN   org
25                                             midnight   NN  time
26                                                   of   IN   gpe
27                                             al-Qaida  NNP   org
28                                                  bin  NNP   per
29                                                   of   IN   org
...                                                 ...  ...   ...
1780                                           one-year   JJ  time
1781                                                the   DT   geo
1782                                                the   DT   geo
1783                                                the   DT   geo
1784                                                the   DT   geo
1785                                          mid-1990s  NNS   geo
1786                                              south   RB   geo
1787                                              since   IN  time
1788                                           al-Waili  NNP   per
1789                                         al-Jaafari  NNP   per
1790                                           southern   JJ   geo
1791                                              first   RB  time
1792                                              since   IN  time
1793                                              today   NN  time
1794                                         settlement   NN   obj
1795                                               east   JJ   geo
1796                                              today   NN  time
1797                                            release   NN  time
1798                                              today   NN  time
1799                                                end   NN  time
1800                                                 of   IN  time
1801                                            two-day   JJ  time
1802                                              three   CD  time
1803                                            decades  NNS  time
1804  https://www.celebritiesforcharity.org/raffles/...  NNP   geo
1805                                          seven-day   JJ  time
1806                                                 of   IN   org
1807                                              night   NN  time
1808                                             recent   JJ  time
1809                                              about   RB  time

[1810 rows x 3 columns]

In [110]:
time = str(dt.datetime.now())


file_end = time[0:4]+"_"+time[5:7]+"_"+time[8:10]+"_"+time[11:13]+"h_"+time[14:16]+"m_"+time[17:19]+"s.csv"
file = "solution_"
file_name = file+file_end
print(file_name)

df.to_csv(file_name, sep=';',index=False)

'solution_2017_10_05_01h_00m_06s.csv'

In [17]:
s = pd.DataFrame(columns=('Word', 'POS', 'Tag'))
t = pd.DataFrame(columns=('Word', 'POS', 'Tag'))

In [18]:
s2 = s
t2 = t

In [19]:
s3 = s2.drop_duplicates()
s4 = s3.reset_index(drop=True)
s4

Empty DataFrame
Columns: [Word, POS, Tag]
Index: []

In [16]:
t3 = t2.drop_duplicates()
t4 = t3.reset_index(drop=True)
t4

NameError: name 't2' is not defined

In [8]:
teszt = olvas('Test1NER.csv', None)
teszt

           Sentence #           Word  POS
0      Sentence: 9001             In   IN
1                 NaN           2005   CD
2                 NaN              ,    ,
3                 NaN         Zambia  NNP
4                 NaN      qualified  VBD
5                 NaN            for   IN
6                 NaN           debt   NN
7                 NaN         relief   NN
8                 NaN          under   IN
9                 NaN            the   DT
10                NaN         Highly  NNP
11                NaN       Indebted  NNP
12                NaN           Poor  NNP
13                NaN        Country  NNP
14                NaN     Initiative  NNP
15                NaN              ,    ,
16                NaN     consisting  VBG
17                NaN             of   IN
18                NaN  approximately   RB
19                NaN            USD  NNP
20                NaN              6   CD
21                NaN        billion   CD
22                NaN             in   IN
23                NaN           debt   NN
24                NaN         relief   NN
25                NaN              .    .
26     Sentence: 9002        Poverty   NN
27                NaN        remains  VBZ
28                NaN              a   DT
29                NaN    significant   JJ
...               ...            ...  ...
19372             NaN              a   DT
19373             NaN          liter   NN
19374             NaN             in   IN
19375             NaN            the   DT
19376             NaN           past   JJ
19377             NaN           year   NN
19378             NaN              .    .
19379  Sentence: 9900            The   DT
19380             NaN          death   NN
19381             NaN           toll   NN
19382             NaN           from   IN
19383             NaN       violence   NN
19384             NaN             in   IN
19385             NaN          Sudan  NNP
19386             NaN      following  VBG
19387             NaN            the   DT
19388             NaN          death   NN
19389             NaN             of   IN
19390             NaN         former   JJ
19391             NaN          rebel   JJ
19392             NaN         leader   NN
19393             NaN            and   CC
19394             NaN           Vice  NNP
19395             NaN      President  NNP
19396             NaN           John  NNP
19397             NaN         Garang  NNP
19398             NaN            has  VBZ
19399             NaN      surpassed  VBN
19400             NaN            100   CD
19401             NaN              .    .

[19402 rows x 3 columns]

In [9]:
teszt['Tag'] = np.nan
teszt["Tag"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
19372   NaN
19373   NaN
19374   NaN
19375   NaN
19376   NaN
19377   NaN
19378   NaN
19379   NaN
19380   NaN
19381   NaN
19382   NaN
19383   NaN
19384   NaN
19385   NaN
19386   NaN
19387   NaN
19388   NaN
19389   NaN
19390   NaN
19391   NaN
19392   NaN
19393   NaN
19394   NaN
19395   NaN
19396   NaN
19397   NaN
19398   NaN
19399   NaN
19400   NaN
19401   NaN
Name: Tag, Length: 19402, dtype: float64

# Alap gyenge prediktálás
## Hiányzik: dátum beállítás, B vagy I prepozíció

In [57]:
j = 0
for i in range(len(teszt)):
    
    
    if (not(teszt["Sentence #"].isnull()[i])):
        if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
            if(i!=0):
                if(teszt.loc[i-1]["Tag"] == 'O'):
                    teszt.loc[i]["Tag"] = 'B-'
                else:
                    teszt.loc[i]["Tag"] = 'I-'
            else:
                teszt.loc[i]["Tag"] = 'B-'

            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
        #elif (kisbetu_index[kisbetu_index["Word"] == teszt["Word"][i]].empty):
        #    
        else:
            teszt.loc[i]["Tag"] = 'O'
    
    
    
    elif (ord('A') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('Z')):
        if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
            
            if(teszt.loc[i-1]["Tag"] == 'O'):
                teszt.loc[i]["Tag"] = 'B-'
            else:
                teszt.loc[i]["Tag"] = 'I-'
            
            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
        #elif (kisbetu_index[kisbetu_index["Word"] == teszt["Word"][i]].empty):
        #    
        else:
            teszt.loc[i]["Tag"] = 'O'
    
    
    
    elif (ord('1') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('9')):
        if (teszt.loc[i-1]["Word"] in ('in', 'In', 'Since', 'since')):
            
            if(teszt.loc[i-1]["Tag"] == 'O'):
                teszt.loc[i]["Tag"] = 'B-'
            else:
                teszt.loc[i]["Tag"] = 'I-'
            
            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + 'time'
        else: 
            teszt.loc[i]["Tag"] = 'O'
    else: 
        teszt.loc[i]["Tag"] = 'O'
teszt

           Sentence #           Word  POS     Tag
0      Sentence: 9001             In   IN       O
1                 NaN           2005   CD  B-time
2                 NaN              ,    ,       O
3                 NaN         Zambia  NNP   B-gpe
4                 NaN      qualified  VBD       O
5                 NaN            for   IN       O
6                 NaN           debt   NN       O
7                 NaN         relief   NN       O
8                 NaN          under   IN       O
9                 NaN            the   DT       O
10                NaN         Highly  NNP   B-org
11                NaN       Indebted  NNP   I-org
12                NaN           Poor  NNP   I-org
13                NaN        Country  NNP       O
14                NaN     Initiative  NNP   B-per
15                NaN              ,    ,       O
16                NaN     consisting  VBG       O
17                NaN             of   IN       O
18                NaN  approximately   RB       O
19                NaN            USD  NNP       O
20                NaN              6   CD       O
21                NaN        billion   CD       O
22                NaN             in   IN       O
23                NaN           debt   NN       O
24                NaN         relief   NN       O
25                NaN              .    .       O
26     Sentence: 9002        Poverty   NN       O
27                NaN        remains  VBZ       O
28                NaN              a   DT       O
29                NaN    significant   JJ       O
...               ...            ...  ...     ...
19372             NaN              a   DT       O
19373             NaN          liter   NN       O
19374             NaN             in   IN       O
19375             NaN            the   DT       O
19376             NaN           past   JJ       O
19377             NaN           year   NN       O
19378             NaN              .    .       O
19379  Sentence: 9900            The   DT   B-obj
19380             NaN          death   NN       O
19381             NaN           toll   NN       O
19382             NaN           from   IN       O
19383             NaN       violence   NN       O
19384             NaN             in   IN       O
19385             NaN          Sudan  NNP   B-gpe
19386             NaN      following  VBG       O
19387             NaN            the   DT       O
19388             NaN          death   NN       O
19389             NaN             of   IN       O
19390             NaN         former   JJ       O
19391             NaN          rebel   JJ       O
19392             NaN         leader   NN       O
19393             NaN            and   CC       O
19394             NaN           Vice  NNP   B-per
19395             NaN      President  NNP   I-per
19396             NaN           John  NNP   I-per
19397             NaN         Garang  NNP   I-per
19398             NaN            has  VBZ       O
19399             NaN      surpassed  VBN       O
19400             NaN            100   CD       O
19401             NaN              .    .       O

[19402 rows x 4 columns]

In [50]:
j = 0
i=3
print("eleje")
if (not(teszt["Sentence #"].isnull()[i])):
    print("if1")
    if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
        print("if2")
        teszt.loc[i]["Tag"] = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)    
    else:
        print("if3")
        teszt.loc[i]["Tag"] = 'OM'

elif (ord('A') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('Z')):
    if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
            teszt.loc[i]["Tag"] = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
        #elif (kisbetu_index[kisbetu_index["Word"] == teszt["Word"][i]].empty):
        #    
    else:
        teszt.iloc[i]["Tag"] = 'O'

elif (ord('1') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('9')):
    if (teszt.loc[i-1]["Word"] in ('in', 'In', 'Since', 'since')):
            teszt.loc[i]["Tag"] = 'time'
        
else:
    print("if4")
    teszt.loc[i]["Tag"] = 'O'
print("if5")
teszt

eleje
if5

           Sentence #           Word  POS  Tag
0      Sentence: 9001             In   IN   OM
1                 NaN           2005   CD    O
2                 NaN              ,    ,    O
3                 NaN         Zambia  NNP  gpe
4                 NaN      qualified  VBD  NaN
5                 NaN            for   IN  NaN
6                 NaN           debt   NN  NaN
7                 NaN         relief   NN  NaN
8                 NaN          under   IN  NaN
9                 NaN            the   DT  NaN
10                NaN         Highly  NNP  NaN
11                NaN       Indebted  NNP  NaN
12                NaN           Poor  NNP  NaN
13                NaN        Country  NNP  NaN
14                NaN     Initiative  NNP  NaN
15                NaN              ,    ,  NaN
16                NaN     consisting  VBG  NaN
17                NaN             of   IN  NaN
18                NaN  approximately   RB  NaN
19                NaN            USD  NNP  NaN
20                NaN              6   CD  NaN
21                NaN        billion   CD  NaN
22                NaN             in   IN  NaN
23                NaN           debt   NN  NaN
24                NaN         relief   NN  NaN
25                NaN              .    .  NaN
26     Sentence: 9002        Poverty   NN  NaN
27                NaN        remains  VBZ  NaN
28                NaN              a   DT  NaN
29                NaN    significant   JJ  NaN
...               ...            ...  ...  ...
19372             NaN              a   DT  NaN
19373             NaN          liter   NN  NaN
19374             NaN             in   IN  NaN
19375             NaN            the   DT  NaN
19376             NaN           past   JJ  NaN
19377             NaN           year   NN  NaN
19378             NaN              .    .  NaN
19379  Sentence: 9900            The   DT  NaN
19380             NaN          death   NN  NaN
19381             NaN           toll   NN  NaN
19382             NaN           from   IN  NaN
19383             NaN       violence   NN  NaN
19384             NaN             in   IN  NaN
19385             NaN          Sudan  NNP  NaN
19386             NaN      following  VBG  NaN
19387             NaN            the   DT  NaN
19388             NaN          death   NN  NaN
19389             NaN             of   IN  NaN
19390             NaN         former   JJ  NaN
19391             NaN          rebel   JJ  NaN
19392             NaN         leader   NN  NaN
19393             NaN            and   CC  NaN
19394             NaN           Vice  NNP  NaN
19395             NaN      President  NNP  NaN
19396             NaN           John  NNP  NaN
19397             NaN         Garang  NNP  NaN
19398             NaN            has  VBZ  NaN
19399             NaN      surpassed  VBN  NaN
19400             NaN            100   CD  NaN
19401             NaN              .    .  NaN

[19402 rows x 4 columns]

In [65]:
#teszt.loc[0]["Tag"] = 'O'
#teszt
#i=3
#teszt["Sentence #"].isnull()[3]

nagybetu_index[nagybetu_index["Word"] == teszt["Word"][19379]] #283, 1266

nagybetu_index[1260:1270]

#teszt["Sentence #"][0]
#teszt["Sentence #"].isnull()[3]
#tanulo[tanulo["Word"] == teszt["Word"][3]]
#tanulo[9650:9680]
#nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]].empty
#not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]].empty)
#nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]]["Tag"].values.take(0)
#teszt.iloc[0]["Tag"] = "Neeeem"
#teszt.loc[0]
#teszt.iloc[0]["Tag"] = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]]["Tag"].values.take(0)
#teszt.iloc[0]["Tag"]
#teszt.iloc[0]["Tag"] = teszt.iloc[0]["Tag"] + "-0"
#teszt.iloc[0]["Tag"]
#nagybetu_index["Word"][0] in (teszt["Word"][0], "President", "Hashtag")

           Word  POS   Tag
1260      Spain  NNP   org
1261   Olympics  NNS  time
1262       Jose  NNP   per
1263  Rodriguez  NNP   per
1264   Zapatero  NNP   per
1265     Basque   NN   geo
1266        The   DT   org
1267        Who  NNP   org
1268      Tampa  NNP   geo
1269    Daltrey  NNP   per

In [10]:
teszt["Word"][0].lower()

'in'

In [98]:
#df[df['A'].str.contains("hello")]
if (t4[t4["Word"] == "in"].empty):
    print(True)
else:
    print(False)

False

In [55]:
nagybetu

              Word   POS   Tag
0        President   NNP   per
1           Karzai   NNP   per
2             NATO   NNP   org
3           Afghan    JJ   gpe
4          British   NNP   org
5          General   NNP   org
6            David   NNP   per
7         Richards   NNP   per
8      Afghanistan   NNP   geo
9             NATO   NNP   org
10            July   NNP  time
11        Richards   NNP   per
12            NATO   NNP   org
13        Richards   NNP   per
14           Burma   NNP   geo
15        Minister   NNP   per
16            Khin   NNP   per
17           Nyunt   NNP   per
18          Sunday   NNP  time
19         October   NNP  time
20         General   NNP   org
21           Thura   NNP   org
22            Shwe   NNP   org
23            Mahn   NNP   org
24            Khin   NNP   per
25           Nyunt   NNP   per
26           Thura   NNP   org
27            Shwe   NNP   org
28            Mahn   NNP   org
29            Khin   NNP   per
...            ...   ...   ...
26809       Africa   NNP   geo
26810    Halloween   NNP   geo
26811       Sunday   NNP  time
26812      America   NNP   geo
26813    Halloween   NNP   geo
26814       United   NNP   geo
26815       States  NNPS   geo
26816   Guantanamo   NNP   geo
26817          Bay   NNP   geo
26818         Cuba   NNP   geo
26819      Defense   NNP   org
26820   Department   NNP   org
26821       Monday   NNP  time
26822        Abdul   NNP   per
26823         Aziz   NNP   per
26824         Naji   NNP   per
26825      Algeria   NNP   geo
26826  Abd-al-Nisr   NNP   org
26827     Mohammed   NNP   org
26828   Khantumani   NNP   org
26829         Cape   NNP   geo
26830        Verde   NNP   geo
26831         U.S.   NNP   geo
26832   Guantanamo   NNP   geo
26833    President   NNP   per
26834       Barack   NNP   per
26835        Obama   NNP   per
26836      January   NNP  time
26837         U.S.   NNP   geo
26838       Zambia   NNP   geo

[26839 rows x 3 columns]

# Program

In [11]:
############beolvasás

tanulo = olvas('TrainNER.csv')
############tanulóhalmaz kigyűjtése

nagybetu = kezdobetu(tanulo,ord('A'),ord('Z'))
kisbetu = kezdobetu(tanulo,ord('a'),ord('z'))

############tanulóhalmaz megtisztítása
nagybetu_index = resetindex(nagybetu)
kisbetu_index = resetindex(kisbetu)



############tanulóhalmaz szótövezése


############teszthalmaz beolvasása + másolat => TAG oszlop felvétele
#teszt1 = olvas('Test1NER.csv', None)
#teszt2 = olvas('Test2NER.csv', None)


############teszthalmaz prediktálása + szótövezése



############csv-be írás
#writecsv(nagybetu,"Nagybetu")

In [12]:
nagybetu_index

              Word   POS   Tag
0        President   NNP   per
1           Karzai   NNP   per
2             NATO   NNP   org
3           Afghan    JJ   gpe
4          British   NNP   org
5          General   NNP   org
6            David   NNP   per
7         Richards   NNP   per
8      Afghanistan   NNP   geo
9             July   NNP  time
10           Burma   NNP   geo
11        Minister   NNP   per
12            Khin   NNP   per
13           Nyunt   NNP   per
14          Sunday   NNP  time
15         October   NNP  time
16           Thura   NNP   org
17            Shwe   NNP   org
18            Mahn   NNP   org
19             Soe   NNP   org
20             Win   NNP   org
21     Afghanistan   NNP  time
22           Joint   NNP   org
23    Coordination   NNP   org
24      Monitoring   NNP   org
25           Board   NNP   org
26          Monday   NNP  time
27          United   NNP   org
28         Nations  NNPS   org
29         Taleban   NNP   org
...            ...   ...   ...
5356   Secretariat   NNP   org
5357        Census   NNP   org
5358       Angolan    JJ   gpe
5359      Anglican   NNP   org
5360    Archbishop   NNP   org
5361       Desmond   NNP   org
5362          Tutu   NNP   org
5363         Abune   NNP   per
5364        Paulos   NNP   per
5365         Alpha   NNP   org
5366         Oumar   NNP   org
5367        Konare   NNP   org
5368        Yonhap   NNP   org
5369           SBS   NNP   org
5370         North    JJ   org
5371         Moore   NNP   per
5372      Balaguer   NNP   per
5373        Cannes   NNP   org
5374      Security    NN   org
5375        Indira   NNP   geo
5376        Gandhi   NNP   geo
5377           Yao   NNP   per
5378          Ming   NNP   per
5379        Anders   NNP   per
5380          Fogh   NNP   per
5381     Rasmussen   NNP   per
5382     Halloween   NNP   geo
5383       Algeria   NNP   geo
5384   Abd-al-Nisr   NNP   org
5385    Khantumani   NNP   org

[5386 rows x 3 columns]