In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
def olvas(file_name, fejlec = 'infer'):
    if (fejlec == 'infer'):
        df = pd.read_csv(file_name, sep=';' , encoding = "ISO-8859-1", header = fejlec)
    elif (file_name[0:5]=='Test1'): 
        df = pd.read_csv(file_name, sep=';' , encoding = "ISO-8859-1", header = fejlec, names = ['Sentence #','Word', 'POS'])
    else:
        df = pd.read_csv(file_name, sep=';' , encoding = "ISO-8859-1", header = fejlec, names = ['Sentence #','Word'])
    return df

In [3]:
def kezdobetu(df,k_betu_szama,v_betu_szama):
    s = pd.DataFrame(columns=('Word', 'POS', 'Tag'))
    j = 0
    for i in range(len(df)):
        if not(pd.isnull(df.iloc[i]["Word"])):
            if (k_betu_szama <= ord(df.iloc[i]["Word"][0])) & (ord(df.iloc[i]["Word"][0]) <= v_betu_szama) & ((df.iloc[i]["Tag"][0] == 'B') | (df.iloc[i]["Tag"][0] == 'I')):
                    s.loc[j] = [df.iloc[i]["Word"],df.iloc[i]["POS"],df.iloc[i]["Tag"][2:len(df.iloc[i]["Tag"])]]
                    j = j + 1
    return s

In [4]:
def resetindex(df):
    t3 = df.drop_duplicates()
    t4 = t3.reset_index(drop=True)
    return t4

In [5]:
def writecsv(df, file_neve = 'solution'):
    time = str(dt.datetime.now())

    file_end = time[0:4]+"_"+time[5:7]+"_"+time[8:10]+"_"+time[11:13]+"h_"+time[14:16]+"m_"+time[17:19]+"s.csv"
    file = file_neve+"_"
    file_name = file+file_end
    print(file_name)

    df.to_csv(file_name, sep=';',index=False)

In [ ]:
df = pd.read_csv('TrainNER.csv',sep=';', encoding = "ISO-8859-1")

In [ ]:
df

Nagybetű és 12 kategória egyike (dátumok nincsenek benne)

In [ ]:
j = 0
for i in range(len(df)):
    if not(pd.isnull(df.iloc[i]["Word"])):
        if (65 <= ord(df.iloc[i]["Word"][0])) & (ord(df.iloc[i]["Word"][0]) <= 90) & ((df.iloc[i]["Tag"][0] == 'B') | (df.iloc[i]["Tag"][0] == 'I')):
                s.loc[j] = [df.iloc[i]["Word"],df.iloc[i]["POS"],df.iloc[i]["Tag"][2:len(df.iloc[i]["Tag"])]]
                j = j + 1
s

Kisbetű és 12 kategória egyike (dátumok nincsenek benne)

In [ ]:
j = 0
for i in range(len(df)):
    if not(pd.isnull(df.iloc[i]["Word"])):
        if (97 <= ord(df.iloc[i]["Word"][0]) & ord(df.iloc[i]["Word"][0]) <= 122) & ((df.iloc[i]["Tag"][0] == 'B') | (df.iloc[i]["Tag"][0] == 'I')):
            t.loc[j] = [df.iloc[i]["Word"],df.iloc[i]["POS"],df.iloc[i]["Tag"][2:len(df.iloc[i]["Tag"])]]
            j = j + 1
t

In [ ]:
time = str(dt.datetime.now())


file_end = time[0:4]+"_"+time[5:7]+"_"+time[8:10]+"_"+time[11:13]+"h_"+time[14:16]+"m_"+time[17:19]+"s.csv"
file = "solution_"
file_name = file+file_end
print(file_name)

df.to_csv(file_name, sep=';',index=False)

In [ ]:
s = pd.DataFrame(columns=('Word', 'POS', 'Tag'))
t = pd.DataFrame(columns=('Word', 'POS', 'Tag'))

In [ ]:
s2 = s
t2 = t

In [ ]:
s3 = s2.drop_duplicates()
s4 = s3.reset_index(drop=True)
s4

In [ ]:
t3 = t2.drop_duplicates()
t4 = t3.reset_index(drop=True)
t4

In [ ]:
teszt = olvas('Test1NER.csv', None)
teszt

In [ ]:
teszt['Tag'] = np.nan
teszt["Tag"]

# Alap gyenge prediktálás
## Hiányzik: dátum beállítás, B vagy I prepozíció

In [ ]:
j = 0
for i in range(len(teszt)):
    
    
    if (not(teszt["Sentence #"].isnull()[i])):
        if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
            if(i!=0):
                if(teszt.loc[i-1]["Tag"] == 'O'):
                    teszt.loc[i]["Tag"] = 'B-'
                else:
                    teszt.loc[i]["Tag"] = 'I-'
            else:
                teszt.loc[i]["Tag"] = 'B-'

            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
        #elif (kisbetu_index[kisbetu_index["Word"] == teszt["Word"][i]].empty):
        #    
        else:
            teszt.loc[i]["Tag"] = 'O'
    
    
    
    elif (ord('A') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('Z')):
        if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
            
            if(teszt.loc[i-1]["Tag"] == 'O'):
                teszt.loc[i]["Tag"] = 'B-'
            else:
                teszt.loc[i]["Tag"] = 'I-'
            
            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
        #elif (kisbetu_index[kisbetu_index["Word"] == teszt["Word"][i]].empty):
        #    
        else:
            teszt.loc[i]["Tag"] = 'O'
    
    
    
    elif (ord('1') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('9')):
        if (teszt.loc[i-1]["Word"] in ('in', 'In', 'Since', 'since')):
            
            if(teszt.loc[i-1]["Tag"] == 'O'):
                teszt.loc[i]["Tag"] = 'B-'
            else:
                teszt.loc[i]["Tag"] = 'I-'
            
            teszt.loc[i]["Tag"] = teszt.loc[i]["Tag"] + 'time'
        else: 
            teszt.loc[i]["Tag"] = 'O'
    else: 
        teszt.loc[i]["Tag"] = 'O'
teszt

In [ ]:
j = 0
i=3
print("eleje")
if (not(teszt["Sentence #"].isnull()[i])):
    print("if1")
    if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
        print("if2")
        teszt.loc[i]["Tag"] = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)    
    else:
        print("if3")
        teszt.loc[i]["Tag"] = 'OM'

elif (ord('A') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('Z')):
    if (not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]].empty)):
            teszt.loc[i]["Tag"] = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][i]]["Tag"].values.take(0)
        #elif (kisbetu_index[kisbetu_index["Word"] == teszt["Word"][i]].empty):
        #    
    else:
        teszt.iloc[i]["Tag"] = 'O'

elif (ord('1') <= ord(teszt.loc[i]["Word"][0]) & ord(teszt.loc[i]["Word"][0]) <= ord('9')):
    if (teszt.loc[i-1]["Word"] in ('in', 'In', 'Since', 'since')):
            teszt.loc[i]["Tag"] = 'time'
        
else:
    print("if4")
    teszt.loc[i]["Tag"] = 'O'
print("if5")
teszt

In [ ]:
#teszt.loc[0]["Tag"] = 'O'
#teszt
#i=3
#teszt["Sentence #"].isnull()[3]

nagybetu_index[nagybetu_index["Word"] == teszt["Word"][19379]] #283, 1266

nagybetu_index[1260:1270]

#teszt["Sentence #"][0]
#teszt["Sentence #"].isnull()[3]
#tanulo[tanulo["Word"] == teszt["Word"][3]]
#tanulo[9650:9680]
#nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]].empty
#not(nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]].empty)
#nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]]["Tag"].values.take(0)
#teszt.iloc[0]["Tag"] = "Neeeem"
#teszt.loc[0]
#teszt.iloc[0]["Tag"] = nagybetu_index[nagybetu_index["Word"] == teszt["Word"][3]]["Tag"].values.take(0)
#teszt.iloc[0]["Tag"]
#teszt.iloc[0]["Tag"] = teszt.iloc[0]["Tag"] + "-0"
#teszt.iloc[0]["Tag"]
#nagybetu_index["Word"][0] in (teszt["Word"][0], "President", "Hashtag")

In [ ]:
teszt["Word"][0].lower()

In [ ]:
#df[df['A'].str.contains("hello")]
if (t4[t4["Word"] == "in"].empty):
    print(True)
else:
    print(False)

In [ ]:
nagybetu

# Program

In [ ]:
############beolvasás

tanulo = olvas('TrainNER.csv')
############tanulóhalmaz kigyűjtése

nagybetu = kezdobetu(tanulo,ord('A'),ord('Z'))
kisbetu = kezdobetu(tanulo,ord('a'),ord('z'))

############tanulóhalmaz megtisztítása
nagybetu_index = resetindex(nagybetu)
kisbetu_index = resetindex(kisbetu)



############tanulóhalmaz szótövezése


############teszthalmaz beolvasása + másolat => TAG oszlop felvétele
#teszt1 = olvas('Test1NER.csv', None)
#teszt2 = olvas('Test2NER.csv', None)


############teszthalmaz prediktálása + szótövezése



############csv-be írás
#writecsv(nagybetu,"Nagybetu")

In [ ]:
nagybetu_index

# Innentol van az NLTK stemming + POS-tagging

In [6]:
import nltk

In [7]:
def rowStemmer(row,stemmer):
    return(stemmer.stem(row['Word']))

def stemProcess(dfIn,stemmer):
    dfTemp = dfIn.copy()
    typeString = str(type(stemmer)).split('.')[-1][:-2]
    dfTemp['STEM_{0}'.format(typeString)] = dfTemp.apply(lambda x: rowStemmer(x,stemmer), axis = 1)
    return dfTemp

In [9]:
df = pd.read_csv('TrainNER.csv',sep=';', encoding = "ISO-8859-1")
test1 = pd.read_csv('Test1NER.csv',sep=';', encoding = "ISO-8859-1", header=None)
test2 = pd.read_csv('Test2NER.csv',sep=';', encoding = "ISO-8859-1", header=None)
train1 = pd.read_csv('TrainNER.csv',sep=';', encoding = "ISO-8859-1")

In [10]:
test1.head(10)

                0          1    2
0  Sentence: 9001         In   IN
1             NaN       2005   CD
2             NaN          ,    ,
3             NaN     Zambia  NNP
4             NaN  qualified  VBD
5             NaN        for   IN
6             NaN       debt   NN
7             NaN     relief   NN
8             NaN      under   IN
9             NaN        the   DT

In [11]:
test1.columns=(['Sentence #','Word','Pos'])
test1.head(3)

       Sentence #  Word Pos
0  Sentence: 9001    In  IN
1             NaN  2005  CD
2             NaN     ,   ,

In [12]:
test2.columns=(['Sentence #', 'Word'])
test2.head(10)

       Sentence #           Word
0  Sentence: 9901            The
1             NaN  International
2             NaN      Committee
3             NaN             of
4             NaN            the
5             NaN            Red
6             NaN          Cross
7             NaN           says
8             NaN             84
9             NaN         people

In [13]:
train1.head(10)

    Sentence #       Word   POS    Tag
0  Sentence: 1  President   NNP  B-per
1          NaN     Karzai   NNP  I-per
2          NaN    thanked   VBD      O
3          NaN        his  PRP$      O
4          NaN     allies   NNS      O
5          NaN        for    IN      O
6          NaN      their  PRP$      O
7          NaN       help    NN      O
8          NaN         in    IN      O
9          NaN   battling   VBG      O

In [14]:
miniTrain = df[20:40]
miniTrain

   Sentence #           Word  POS    Tag
20        NaN        British  NNP  B-org
21        NaN        General  NNP  I-org
22        NaN          David  NNP  B-per
23        NaN       Richards  NNP  I-per
24        NaN              ,    ,      O
25        NaN           said  VBD      O
26        NaN            the   DT      O
27        NaN          unity   NN      O
28        NaN             of   IN      O
29        NaN        command   NN      O
30        NaN            the   DT      O
31        NaN       transfer   NN      O
32        NaN        brought  VBD      O
33        NaN           will   MD      O
34        NaN        enhance   VB      O
35        NaN            the   DT      O
36        NaN  effectiveness   NN      O
37        NaN             of   IN      O
38        NaN            the   DT      O
39        NaN        overall   JJ      O

In [15]:
pStemmer = nltk.PorterStemmer()
sbStemmer = nltk.SnowballStemmer('english')

miniTrain = stemProcess(miniTrain,sbStemmer)
miniTrain = stemProcess(miniTrain,pStemmer)

In [16]:
miniTrain

,Sentence #,Word,POS,Tag,STEM_SnowballStemmer,STEM_PorterStemmer
20,NaN,British,NNP,B-org,british,british
21,NaN,General,NNP,I-org,general,gener
22,NaN,David,NNP,B-per,david,david
23,NaN,Richards,NNP,I-per,richard,richard
24,NaN,",",",",O,",",","
25,NaN,said,VBD,O,said,said
26,NaN,the,DT,O,the,the
27,NaN,unity,NN,O,uniti,uniti
28,NaN,of,IN,O,of,of
29,NaN,command,NN,O,command,command
30,NaN,the,DT,O,the,the
31,NaN,transfer,NN,O,transfer,transfer
32,NaN,brought,VBD,O,brought,brought
33,NaN,will,MD,O,will,will
34,NaN,enhance,VB,O,enhanc,enhanc
35,NaN,the,DT,O,the,the
36,NaN,effectiveness,NN,O,effect,effect
37,NaN,of,IN,O,of,of
38,NaN,the,DT,O,the,the
39,NaN,overall,JJ,O,overal,overal

In [17]:
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Marton\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Marton\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [18]:
def rowPrediction(row):
    tokenizedWord = nltk.word_tokenize(row['Word'])
    return(nltk.pos_tag(tokenizedWord)[-1][-1])

def posProcess(dfIn):
    dfTemp = dfIn.copy()
    dfTemp['POS2'] = dfTemp.apply(lambda x: rowPrediction(x), axis = 1)
    return dfTemp

In [19]:
miniTrain = posProcess(miniTrain)
miniTrain

,Sentence #,Word,POS,Tag,STEM_SnowballStemmer,STEM_PorterStemmer,POS2
20,NaN,British,NNP,B-org,british,british,JJ
21,NaN,General,NNP,I-org,general,gener,NNP
22,NaN,David,NNP,B-per,david,david,NNP
23,NaN,Richards,NNP,I-per,richard,richard,NNS
24,NaN,",",",",O,",",",",","
25,NaN,said,VBD,O,said,said,VBD
26,NaN,the,DT,O,the,the,DT
27,NaN,unity,NN,O,uniti,uniti,NN
28,NaN,of,IN,O,of,of,IN
29,NaN,command,NN,O,command,command,NN
30,NaN,the,DT,O,the,the,DT
31,NaN,transfer,NN,O,transfer,transfer,NN
32,NaN,brought,VBD,O,brought,brought,NN
33,NaN,will,MD,O,will,will,MD
34,NaN,enhance,VB,O,enhanc,enhanc,NN
35,NaN,the,DT,O,the,the,DT
36,NaN,effectiveness,NN,O,effect,effect,NN
37,NaN,of,IN,O,of,of,IN
38,NaN,the,DT,O,the,the,DT
39,NaN,overall,JJ,O,overal,overal,JJ

In [20]:

print('lengths: test1 - {0}, test2 - {1}'.format(len(test1),len(test2)))

lengths: test1 - 19402, test2 - 9878

In [21]:
test1 = test1[pd.notnull(test1['Word'])]
test2 = test2[pd.notnull(test2['Word'])]

print('lengths: test1 - {0}, test2 - {1}'.format(len(test1),len(test2)))

lengths: test1 - 19402, test2 - 9878

In [22]:
test1 = stemProcess(test1,sbStemmer)
test1 = stemProcess(test1,pStemmer)


test2 = posProcess(test2)

test2 = stemProcess(test2,sbStemmer)
test2 = stemProcess(test2,pStemmer)

test2.head(10)

       Sentence #           Word POS2 STEM_SnowballStemmer STEM_PorterStemmer
0  Sentence: 9901            The   DT                  the                the
1             NaN  International  NNP               intern             intern
2             NaN      Committee  NNP             committe           committe
3             NaN             of   IN                   of                 of
4             NaN            the   DT                  the                the
5             NaN            Red   JJ                  red                red
6             NaN          Cross   NN                cross              cross
7             NaN           says  VBZ                  say                say
8             NaN             84   CD                   84                 84
9             NaN         people  NNS                peopl              peopl

In [23]:
train1.head(2)

    Sentence #       Word  POS    Tag
0  Sentence: 1  President  NNP  B-per
1          NaN     Karzai  NNP  I-per

In [24]:

train1 = train1[pd.notnull(train1['Word'])]

train1 = stemProcess(train1,sbStemmer)
train1 = stemProcess(train1,pStemmer)

train1.head()

    Sentence #       Word   POS    Tag STEM_SnowballStemmer STEM_PorterStemmer
0  Sentence: 1  President   NNP  B-per               presid             presid
1          NaN     Karzai   NNP  I-per               karzai             karzai
2          NaN    thanked   VBD      O                thank              thank
3          NaN        his  PRP$      O                  his                 hi
4          NaN     allies   NNS      O                 alli               alli

In [25]:
mySentence = 'I ate 24 pancakes for breakfast.'
tokenized = nltk.word_tokenize(mySentence)

In [26]:
type(tokenized[2])

str

In [27]:
nltk.pos_tag(tokenized)

[('I', 'PRP'),
 ('ate', 'VBP'),
 ('24', 'CD'),
 ('pancakes', 'NNS'),
 ('for', 'IN'),
 ('breakfast', 'NN'),
 ('.', '.')]